@using Model.ViewModels.SubscribeWordViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model SubscribeWordViewModel;
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["Subscribe Word"]</title>
</head>
<body>
    <div class="container">
        <h2>@Localizer["Subscribe Word"]</h2>
        <h4>@Localizer["Company"]</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">

                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div>
                           @* <input type="hidden" asp-for="CompanyId" />*@
                            <label asp-for="Word" class="control-label"></label>
                            <input asp-for="Word" class="form-control" placeholder="@Localizer["Enter stop word"]" />
                            <span asp-validation-for="Word" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" placeholder="@Localizer["Enter phone number"]" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>*@
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@Localizer["Create"]" class="btn btn-success" />
                        <a class="btn btn-primary" asp-action="Details" asp-route-companyId="@Model.CompanyId" asp-controller="Company">@Localizer["Back to Details"]</a>
                    </div>
                </form>



            </div>
        </div>
        </div>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
