@using Model.ViewModels.CompanyViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CompanyViewModel;

@{
    ViewData["Title"] = Localizer["Delete"];
}
<h2>@Localizer["Delete"]</h2>
<h3>@Localizer["Are you sure you want to delete this?"]</h3>
<div>
    <h4>@Localizer["Campaign"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-action="Index">@Localizer["Back to List"]</a>
    </form>
</div>