@using Model.ViewModels.CompanyViewModels;
@model ManageViewModel;

@{
    ViewData["Title"] = "Details";
}
<h2>@Model.Name</h2>
<h4>@Model.Description</h4>
<hr />
    <div class="row">
        <div class="col-md-5">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Type)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Type)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                @if (Model.Type == CompanyType.Send || Model.Type == CompanyType.SendAndRecieve)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Tariff)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tariff)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SendingTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SendingTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Message)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Message)
                    </dd>
                }
                @if (Model.Type == CompanyType.Recieve || Model.Type == CompanyType.SendAndRecieve)
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.StartTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StartTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.EndTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.EndTime)
                    </dd>
                }
            </dl>
        </div>
        <div class="col-md-5">
            <div class="row"><a class="btn btn-primary" style="width: 120px;" asp-route-campaignId="@Model.Id" asp-controller="CampaignReporting" asp-action="GetChart">Reporting</a></div>            <br />
            @if (Model.Type == CompanyType.Recieve || Model.Type == CompanyType.SendAndRecieve)
            {
            <div class="row"><a class="btn btn-primary" style="width: 120px;" asp-route-companyId="@Model.Id" asp-action="Incoming">Incoming</a></div>            <br />
            <div class="row"><a class="btn btn-primary" style="width: 120px;" asp-route-companyId="@Model.Id" asp-controller="AnswersCode" asp-action="Index">Answer codes</a></div>            <br />
            }
            <div class="row"><a class="btn btn-warning" style="width: 120px;" asp-route-companyId="@Model.Id" asp-action="Edit">Edit</a></div> <br />
            <div class="row">
            <form asp-action="Delete" asp-route-companyId="@Model.Id">
           <button type="submit" class="btn btn-danger" style="width: 120px;">Delete</button>
</form>
            </div>
        </div>
    </div>
    <div class="row">
            <input type="hidden" asp-for="Id" />
            <a class="btn btn-success" asp-action="Index">Back to List</a>
    </div>

