@using Model.ViewModels.CompanyViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<CompanyViewModel>;

@{
        ViewData["Title"] = Localizer["Index"];
}

<h2>@Localizer["Campaign"]</h2>

<p>
    <a class="btn btn-success" asp-action="Create">@Localizer["Create New"]</a>
</p>
<div class="container">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th scope="col" class="col-md-4">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-md-6">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-md-4">
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a> |
                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
