@using Model.ViewModels.CompanyViewModels;
@model IEnumerable<CompanyViewModel>;

@{
    ViewData["Title"] = "Index";
}

<h2>Companies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Description)
                </td>
                <td>
                    <button class="btn btn-primary" asp-area="" asp-controller="Recipient" asp-action="Index" asp-route-id="@item.Id">Recipients</button>
                </td>
            </tr>
        }
    </tbody>
</table>