@using Model.ViewModels.TariffViewModels
@model TariffViewModel

<h2>Tariffs</h2>
<hr />
<div class="container">
    <div class="col-lg-9">
        <table class="table table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="col-md-4">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.Limit)
                    </th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.tariffs)
                {
                    <tr>
                        <td class="col-md-2">
                            @item.Name
                        </td>
                        <td class="col-md-4">
                            @item.Description
                        </td>
                        <td class="col-md-1">
                            @item.Price
                        </td>
                        <td class="col-md-1">
                            @item.Limit
                        </td>
                        <td class="col-md-1">
                            <a class="btn btn-success" asp-controller="Company" asp-action="ChangeTariff" asp-route-companyId="@ViewData["companyId"]" asp-route-tariffId="@item.Id">Choose</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Index">Back to Operators</a>
    </div>
