@using Model.ViewModels.TariffViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model TariffViewModel
@{
   
    var operatorId = @ViewData["OperatorId"];
    ViewData["Title"] = Localizer["Create Tariff"];

}
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["Tariff List"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<script >
         var Tariff = {
         id: 0,
         name: "",
         description: "",
         price: "",
         limit: "",
         operatorId: ""
};
function onAddTariff(item) {
    var options = {};
    options.url = "/Tariff/Create";
    options.type = "POST";
    var obj = Tariff;
    obj.name = $("#name").val();
    obj.description = $("#description").val();
    obj.price = $("#price").val();
    obj.limit = $("#limit").val();
    obj.operatorId = '@ViewData["OperatorId"]';
    console.log(obj);
    console.dir(obj);
    options.data = obj;
    options.success = function (msg) {
        $("#msg").html(msg);
        window.location.href = msg.newUrl;
    },
        options.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
    $.ajax(options);
}
</script>
</head>
<body>
    <form>
        <h2>@Localizer["Create Tariff"]</h2>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" class="form-control" id="name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="3" id="description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" type="number" step="0.01" class="form-control" id="price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Limit"></label>
                    <input asp-for="Limit" type="number" class="form-control" id="limit">
                    <span asp-validation-for="Limit" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success" onclick='onAddTariff(this)'>@Localizer["Add Tariff"]</button>
                <a class="btn btn-warning" asp-action="Operators" asp-controller="Operator">@Localizer["Back to List Of Operators"]</a>
                <br />
                <div id="msg"></div>
            </div>
        </div>
    </form>

</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}