@using Model.ViewModels.TariffViewModels;
@model IEnumerable<TariffViewModel>;

@{
    ViewData["Title"] = "Tariffs List";
}

<h2>Tariffs:</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limit)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                <a asp-action="Update" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <a class="btn alert-info" asp-action="Operators" asp-controller="Operator">Back To list </a>
            </td>
        </tr>


        }
   
    </tbody>

</table>