@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@using Microsoft.AspNetCore.Builder;
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IOptions<RequestLocalizationOptions> LocOps

@{
    var requestCultures = Context.Features.Get<IRequestCultureFeature>();
    var requestCulture = CultureInfo.CurrentCulture;
    var supportedCultures = LocOps.Value.SupportedUICultures
        .Select(c => new SelectListItem
        {
            Value = c.Name,
            Text = $"{c.TwoLetterISOLanguageName}"
        }).ToList();

    var location = new Uri($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}{Context.Request.QueryString}");

    var url = location.AbsoluteUri;
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
    var routeData = new Dictionary<string, string>();

    if (Context.Request.QueryString.HasValue)
    {
        returnUrl = $"{Context.Request.Path}{Context.Request.QueryString.Value}";
    }

    // capture all route parameters
    // necessary for "Page Route" opioon
    foreach (var r in ViewContext.RouteData.Values)
    {
        routeData.Add(r.Key, r.Value.ToString());
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewData["Title"] SmsService</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/style2.css">
        <link href="~/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="~/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="~/css/AdminLTE.min.css" rel="stylesheet"/>
        <link href="~/css/_all-skins.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
        <link rel="stylesheet" href="~/css/site.css"/>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-tema.css"/>
        <link href="~/css/menunav.css" rel="stylesheet"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/css/menunav.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body class="hold-transition skin-black sidebar-collapse sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a asp-controller="Home" asp-action="Index" class="logo">
                <span class="logo-mini"><b>SMS</b></span>
                <span class="logo-lg"><b>SMS</b>Service</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-language"></i>
                                <span class="label label-primary">@($"{requestCulture.TwoLetterISOLanguageName.ToUpper()}")</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form id="form" asp-controller="Home" name="form" asp-action="SetLanguage" asp-route-returnUrl="@returnUrl" method="post" class="form-horizontal" role="form">

                                        <ul class="lang-switcher lang-switcher--pill">
                                            <li>

                                                <a class="is-active">
                                                    @($"{requestCulture.TwoLetterISOLanguageName.ToUpper()}")
                                                </a>

                                            </li>
                                            <li>
                                                @foreach (var culture in supportedCultures)
                                                {
                                                    if (culture.Value.ToLower() != requestCulture.Name.ToLower())
                                                    {
                                                        routeData["culture"] = culture.Value;

                                                        <a href="#" onclick="document.getElementById('form').submit();" class="linkLanguage">
                                                            @culture.Text.ToUpper()
                                                        </a>

                                                        <input type="hidden" name="culture" value="@culture.Value" />
                                                    }
                                                }
                                            </li>
                                        </ul>

                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-user"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <p>
                                        @Context.User.Identity.Name
                                    </p>
                                </li>
                                <li class="user-footer">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                            <div class="pull-left">
                                                <a asp-controller="Manage" asp-action="Index" class="btn btn-primary"><span class="fa fa-user"></span> Profile</a>
                                            </div>
                                            <div class="pull-right">
                                                <button type="submit" class="btn btn-primary"><span class="fa fa-sign-out"></span> Sign out</button>
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        <div class="pull-left">
                                            <a href="Account/NewLogin" class="btn btn-primary"><span class="fa fa-sign-in"></span> Sign in</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="Account/NewRegister" class="btn btn-primary"><span class="fa fa-registered"></span> Register</a>
                                        </div>
                                    }
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-controller="TestMessage" asp-action="Index">
                                <i class="fa fa fa-envelope-o"></i> <span>Message</span>
                                <span class="pull-right-container">
                                    <small class="label pull-right bg-green">demo</small>
                                </span>
                            </a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-comments-o"></i> <span>SMS Campaign</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-controller="Company" asp-action="Create"><i class="fa fa-plus-circle"></i>Create</a></li>
                                <li><a asp-controller="Company" asp-action="Index"><i class="fa fa-list-ul"></i>List of campaigns</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-envelope"></i> <span>Email Campaign</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-controller="EmailCampaign" asp-action="Create"><i class="fa fa-plus-circle"></i>Create</a></li>
                                <li><a asp-controller="EmailCampaign" asp-action="Index"><i class="fa fa-list-ul"></i>List of campaigns</a></li>
                            </ul>
                        </li>
                        <li>
                            <a asp-controller="Contact" asp-action="Contacts">
                                <i class="fa fa-address-book-o"></i> <span>Contacts</span>
                                <span class="pull-right-container"> </span>
                            </a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Operator" asp-action="Operators">
                                <i class="fa fa-money"></i> <span>Operators</span>
                                <span class="pull-right-container"> </span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-stop"></i> <span>Stop words</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-controller="StopWord" asp-action="Create"><i class="fa fa-plus-circle"></i>Create</a></li>
                                <li><a asp-controller="StopWord" asp-action="Index"><i class="fa fa-list-ul"></i>List of words</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("CorporateUser"))
                    {
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-users"></i> <span>User group</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a asp-area="" asp-controller="Group" asp-action="AddUsers"><i class="fa fa-envelope-open-o"></i>Send invite</a></li>
                                <li><a asp-area="" asp-controller="Group" asp-action="Index"><i class="fa fa-list-ul"></i>Users in group</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content">
                @RenderBody()

                <link href="~/css/site.css" rel="stylesheet" />
            </section>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/jquery.slimscroll.min.js"></script>
        <script src="~/js/fastclick.js"></script>
        <script src="~/js/adminlte.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/notifications.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/js/notifications.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
