@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["SMS-service"];
    Layout = null;
}
@using WebApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>SmS Service</title>


    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);
        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/menunav.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/style2.min.css">


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">

    <link rel="stylesheet" href="~/css/style2.css">
</head>
<body>
    <div id="page_preloader"onload='StartPage()'>
    <div class="" id="pagefirst">

        <div class="" id="text_preloader"></div>

    </div>
        </div>
    <header class="header">
        <a href="#" class="logo">
            <img src="../images/landing/logo.svg" alt="logo unload" class="logo_img">
        </a>

        <nav class="menu">
            <ul class="menu_list">
                <li>
                   
                        <div class="container-fluid">
                            <div class="navbar-header">

                        </a>
                        <div id="myNav" class="overlay">
                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                            <div class="overlay-content">
                                <a asp-area="" asp-controller="Company" asp-action="Index">@Localizer["Campaigns"]</a>
                                <a asp-area="" asp-controller="Contact" asp-action="Contacts">@Localizer["Contacts"]</a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a asp-area="" asp-controller="Operator" asp-action="Operators">@Localizer["Operators"]</a>
                                    <a asp-area="" asp-controller="StopWord" asp-action="Index">@Localizer["Stop Words"]</a>
                                }
                                @if (User.Identity.IsAuthenticated && User.IsInRole("CorporateUser"))
                                {
                                    <a asp-area="" asp-controller="Group" asp-action="Index">@Localizer["Group"]</a>
                                }
                                @await Html.PartialAsync("_LoginPartial")

                            </div>
                                <div id="LanguageSwitcher">
                                    <div align="right">
                                        @await Html.PartialAsync("_SelectLanguagePartial")
                                    </div>
                                </div>
                        </div>
                        <span class="main__menu" cursor:pointer" onclick="openNav() ">&#9776;</span>
                    </div>

                </li>

            </ul>

        </nav>

        <!--/.header-->
    </header>
    <section class="main">
        <h1 class="main_title">SMS on 150 mobile networks no matter where you are <span class="main_title-big">sms service</span></h1>
        <a href="#log" class="main_button anchor">@Localizer["get started"]</a>
        @*<p class="main_description">some text <a href="#">@Localizer["some link"]</a>!</p>*@
    </section>
    <!--/.main-->
    <section class="second">

    <section class="features">
        <!-- <img src="styles/images/text1.svg" class="start"> -->
        <ul class="features_list">

            <li class="features_item features_item--sms_tools_1">
                <h3 class="section_title">@Localizer["STATISTICS"]</h3>
                <p class="features_description">
                   @Localizer["Evaluate the results of SMS campaigns by analyzing the statistics on opening and delivering each message you send out."]
                </p>
            </li>
            <li class="features_item features_item--sms_tools_2">
                <h3 class="section_title">@Localizer["API INTEGRATION"]</h3>
                <p class="features_description">
                    @Localizer["Use our API to integrate SMS messaging with your website, app, software or CRM system. Many developers have already implemented it to make notifications easy for business workflow."]
                </p>
            </li>
            <li class="features_item features_item--sms_tools_3">
                <h3 class="section_title">@Localizer["SMS AUTORESPONDERS"]</h3>
                <p class="features_description">
                    @Localizer["Add the recipient's name and other personal information to each SMS: your name or company's name, date of birth, discount code, and other."]
                </p>
            </li>
        </ul>
    </section>
    <section class="features">
        <ul class="features_list">
            <li class="features_item features_item--sms_tools_4">
                <h3 class="section_title">@Localizer["SUBSCRIPTION FORMS"]</h3>
                <p class="features_description">
                    @Localizer["Create SMS subscription forms and integrate them into your website. You can customize the size, the background, font color and even upload your image or logo."]
                </p>
            </li>
            <li class="features_item features_item--sms_tools_5">
                <h3 class="section_title">@Localizer["UNSUBSCRIBE LINKS"]</h3>
                <p class="features_description">
                    @Localizer["Include unsubscribe link into your SMS. Let your audience know that they can unsubscribe whenever they like."]
                </p>
            </li>
            <li class="features_item features_item--sms_tools_6">
                <h3 class="section_title">@Localizer["EXCEPTION LIST"]</h3>
                <p class="features_description">
                    @Localizer["You can exclude phone numbers from recipients list. Use this feature when you don’t want to send message to the whole list."]
                </p>
            </li>
        </ul>
    </section>
    <section class="log_section" id="log">
        <p class="app_description">
            <h2 class="app_description_title">SMS SERVICE AT AFFORDABLE PRICE</h2>
            <h4 class="app_description_welcome">@Localizer["Sms Service is one of email services leaders that's why we offer low prices. Are you're going to send to a large subscriber base? OK, we can offer a plan at wholesale prices."]</h4>
            <div class="app_description_link app_button  ">
                <a href="Account/NewLogin" class="app_link  ">@Localizer["Log in"]</a>
            </div>
           
        </p>
    </section>
    <!--/.features -->
    <section class="app second" id="app">
        <div class="app_image_phone"></div>



        <div class="app_content">

            <h1 class="section_title ">@Localizer["Personalized SMS"]</h1>
            <p class="app_description">
               @Localizer["Add the recipient's name and other personal information to each SMS: your name or company's name, date of birth, discount code, and other."]
            </p>
            <div class="app_content">

                <h1 class="section_title ">@Localizer["Sender name"]</h1>
                <p class="app_description">
                    @Localizer["Use any sender ID depending on your campaign. Sender IDs must be pre-approved for some countries."]
                </p>



            </div>
</section>
    <section class="section_tariff">ff_content">
 
                </div>           <li>
                <h2 class="section_title tariff_main">Tariff</h2>
                <h3 class="tariff_main_content">There are many tariffs at affordable prices,</h3>
                <h3 class="tariff_main_content"> and tariifs are easy to use.</h3>
            </li>
            <li class="tariff_photo"></li>

        </ul>

    </section>

    <section class="section_chart features_list">
        <ul class="chart_content">
            <li class="chart_description">
                <h2 class="section_title ">Statistics</h2>
                <h3 class="chart_main_content"> Track not server uptime, but indexing status of the most important messages.</h3>
            </li>
            <li class="chart_description">
              <div class="chart_img_main chart_img2"></div>
               <div class="chart_img_main chart_img1"></div>
            </li>

        </ul>
    </section>

    <!--/.footer -->
    <footer>
        <div class="footer_content">
            @Localizer["All rights reserved"] &copy; 2019
            <div>

            </div>
        </div>

    </footer>

    <script src="~/js/preloader.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
