@{
	ViewData["Title"] = "SMS-service";
	Layout = null;
}
@using WebCustomerApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
	<title>SMS-service</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link rel="stylesheet" href="~/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="~/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
	<link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" media="all" /> <!-- Style-CSS -->
	<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">


</head>

<body>

	<!-- //header -->
	<header>
		<div class="header d-lg-flex align-items-center">
			<div class="container">
				<div class="nav_w3ls">
					<nav>
						<label for="drop" class="toggle mt-lg-0 mt-2"><span class="fa fa-bars" aria-hidden="true"></span></label>
						<input type="checkbox" id="drop" />
						<ul class="menu" style="width: 70vw;">
							@if (SignInManager.IsSignedIn(User))
							{
								<li><a asp-area="" asp-controller="Company" asp-action="Index">Company</a></li>
								<li><a asp-area="" asp-controller="Contact" asp-action="Contacts">Contacts</a></li>
								@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
								{
									<li><a asp-area="" asp-controller="Operator" asp-action="Operators">Operators</a></li>
									<li><a asp-area="" asp-controller="StopWord" asp-action="Index">Stop Word</a></li>
								}
								<li class="p-0" style="float: right;">
									<label for="drop-2" class="toggle">Hello @UserManager.GetUserName(User)! <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
									<a href="#">Hello @UserManager.GetUserName(User)! <span class="fa fa-angle-down" aria-hidden="true"></span></a>
									<input type="checkbox" id="drop-2" />
									<ul class="inner-dropdown" style="position: sticky">
										<li><a asp-controller="Manage" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" class="active">Profile manager</a></li>
										<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
											<button style="color:black" type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
										</form>
									</ul>
								</li>
							}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- //header -->
	<!-- banner -->
	<div class="banner_w3lspvt" id="home">
		<div class="container">
			<div class="banner-tops-style">
				<div class="style-banner">
					<h2 class="text-wh"> Better service <span>For easy and fast messaging</span><span>In your company</span></h2>
					@if (!SignInManager.IsSignedIn(User))
					{
						<a asp-controller="Account" asp-action="NewLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn button-style mt-sm-5 mt-4">Login</a>
						<a asp-controller="Account" asp-action="NewRegister" asp-route-returnurl="@ViewData["ReturnUrl"]" class="btn button-style mt-sm-5 mt-4">Registration</a>
					}
				</div>
			</div>
		</div>
	</div>
	<!-- //banner -->
</body>
</html>