@using Model.ViewModels.OperatorViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using static Newtonsoft.Json.JsonConvert
@model OperatorViewModel

@{
    ViewData["Title"] = Localizer["Operators"];
}
<h2>@Localizer["Operators"]</h2>
<hr />

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
}

<h4>@Localizer["Add operator"]</h4>

<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("Operators", "Operator", ViewBag.PageState as PageState)" method="post" asp-antiforgery="true">
            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder="@Localizer["New operator name"]" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> @Localizer["Add"]
            </button>
        </form>
    </div>
</div>

<hr />
<h4>@Localizer["Operators list"]</h4>

@{await Html.RenderPartialAsync("SearchOperators", new OperatorSearchViewModel() { SearchQuerry = ViewBag.PageState.SearchQuerry });}

@foreach (OperatorViewModel iter in ViewBag.Operators)
{
    { await Html.RenderPartialAsync("Operator", iter); }
}

@if (ViewBag.PageState.LastPage > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @if (ViewBag.PageState.Page == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("PreviousPage", "Operator", ViewBag.PageState as PageState)">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= ViewBag.PageState.LastPage; i++)
            {
                if (i == ViewBag.PageState.Page)
                {
                    <li class="page-item active">
                        <a class="page-link" href="#">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="SelectPage" asp-controller="Operator"
                           asp-route-Page="@i" asp-route-pageStateJson="@SerializeObject(ViewBag.PageState)">@i</a>
                    </li>
                }
            }
            @if (ViewBag.PageState.Page == ViewBag.PageState.LastPage)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("NextPage", "Operator", ViewBag.PageState as PageState)">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </li>
            }

        </ul>
    </nav>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="~/lib/signalr/dist/browser/signalr.js"></script>

    <script type="text/javascript">
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/notificationHub").build();
        connection.on("GetNotification", function (message) {
            alert(message);
        });

        connection.start();
    </script>
}
