@using Model.ViewModels.OperatorViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using static Newtonsoft.Json.JsonConvert
@model OperatorViewModel

<form action="@Url.Action("Operator", "Operator", ViewBag.PageState as PageState)" method="post" asp-antiforgery="true">
    <div class="row">
        <input type="hidden" class="form-control" asp-for="Id" />
        <input type="hidden" class="form-control" asp-for="Logo" />
        <div class="form-group col-md-4">
            <div class="media">
                <div class="media-left">
                    <a asp-action="AddLogo" asp-controller="Operator" asp-route-OperatorId="@Model.Id">
                        @if (Model.Logo.GetLength(0) != 0)
                        {
                            <img style='width:32px; height:32px;'
                                 src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Logo))"
                                 alt="~/images/32.png" />
                        }
                        else
                        {
                            <img style='width:32px; height:32px;' src="~/images/32.png" />
                        }
                    </a>
                </div>
                <div class="media-body">
                    <input type="text" class="form-control" placeholder="@Localizer["Operator name"]" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-7">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> @Localizer["Save"]
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Remove" asp-controller="Operator" asp-route-OperatorId="@Model.Id"
                           asp-route-pageStateJson="@SerializeObject(ViewBag.PageState)">@Localizer["Remove"]</a>
                    </li>
                    <li>
                        <a asp-action="Create" asp-controller="Tariff" asp-route-OperatorId="@Model.Id">@Localizer["Add tariff"]</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Tariff" asp-route-OperatorId="@Model.Id">@Localizer["Manage tariffs"]</a>
</li>
                    <li>
                        <a asp-action="EditCodes" asp-controller="Operator" asp-route-Id="@Model.Id">@Localizer["Manage codes"]</a>
</li>
                </ul>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
