@using Model.ViewModels.OperatorViewModels
@model OperatorViewModel

<form asp-action="Operator" asp-controller="Operator" method="post" asp-antiforgery="true">
    <div class="row">
        <input type="hidden" class="form-control" asp-for="Id" />        
        <div class="form-group col-md-4">
            <input type="text" class="form-control" placeholder="Operator name" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-8">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-action="Remove" asp-controller="Operator" asp-route-OperatorId="@Model.Id">Remove</a>
                    </li>
                    <li>
                        <a asp-action="Create" asp-controller="Tariff" asp-route-OperatorId="@Model.Id">Add tariff</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Tariff" asp-route-OperatorId="@Model.Id">Manage tariffs</a>
                    </li>
                    <li>
                        <a asp-action="EditCodes" asp-controller="Operator" asp-route-Id="@Model.Id">Manage codes</a>
                    </li>
                    <li>
                        <a asp-action="AddLogo" asp-controller="Operator" asp-route-OperatorId="@Model.Id">Add Logo</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
