@using Model.ViewModels.UserViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model UserViewModel;
@{
    ViewData["Title"] = Localizer["Delete"];
}
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["Delete"]</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>@Localizer["Delete"]</h2>
    <h3>@Localizer["Are you sure you want to delete this user?"]</h3>
    <div>
        <h4>@Localizer["User"]</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>

        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            @if (ViewData["Delete"] != "false")
            {
            <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" id="delete" />
            }
            <a class="btn btn-primary" asp-action="Index">@Localizer["Back to List"]</a>
        </form>
    </div>
</body>
</html>
