@using Model.ViewModels.CodeViewModels
@using static Newtonsoft.Json.JsonConvert;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CodeViewModel

<form action="@Url.Action("Code", "Code", ViewBag.PageState as PageState)" method="post" asp-antiforgery="true">
    <div class="row">
        <input type="hidden" class="form-control" asp-for="Id" />
        <div class="form-group col-md-4">
            <label asp-for="OperatorCode"></label>
            <input type="text" class="form-control" placeholder="@Localizer["Operator code"]" asp-for="OperatorCode" />
            <span asp-validation-for="OperatorCode" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> @Localizer["Save"]
                </button>
                <a class="btn btn-danger" role="button" asp-action="Remove" asp-controller="Code"
                   asp-route-CodeId="@Model.Id" asp-route-pageStateJson="@SerializeObject(ViewBag.PageState)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>@Localizer["Remove"]
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
