@using Model.ViewModels.RecipientViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model RecipientViewModel;
@{
    ViewData["Title"] = Localizer["Create"];
}
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["Create"]</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
<h2>@Localizer["Create"]</h2>
<h4>@Localizer["Recipient"]</h4>
<hr/>
<div class="row">

    <form asp-action="Create" asp-controller="Recipient" asp-route-companyId="@ViewData["CompanyId"]">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-5">
            <div class="form-group">
                <label asp-for="Phonenumber" class="control-label"></label>
                <input asp-for="Phonenumber" class="form-control"/>
                <span asp-validation-for="Phonenumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate" class="form-control" id="birthDate" type="text"/>
                <span asp-validation-for="Birthdate" class="text-danger"></span>
                <script>
                    $('#birthDate').datepicker({ footer: true, modal: true, format: 'dd.mm.yyyy' });
                    $('#birthDate').val(new Date(1901, 1, 1).toLocaleDateString());
                </script>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label><br>
                @Html.RadioButtonFor(m => m.Gender, "Male") <span>Male</span><br>
                @Html.RadioButtonFor(m => m.Gender, "Female") <span>Female</span>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                @Html.DropDownListFor(model => model.Priority,
                    new List<SelectListItem>
                    {
                        new SelectListItem {Value = "Low", Text = "Low"},
                        new SelectListItem {Value = "Medium", Text = "Medium"},
                        new SelectListItem {Value = "High", Text = "High"}
                    },
                    new {@class = "myselect"})
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Keywords" class="control-label"></label>
                <textarea rows="7" style="resize: none" asp-for="Keywords" class="form-control" id="message"></textarea>
                <span asp-validation-for="Keywords" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="@Localizer["Create"]" class="btn btn-success"/>
            </div>
        </div>
    </form>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-route-companyId="@ViewData["CompanyId"]">@Localizer["Back to List"]</a>
</div>
</div>
</body>
</html>
    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
