@using System.Linq
@using Model.ViewModels.AccountViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>

<head>
    <title>@Localizer["Registration"]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link rel="stylesheet" href="~/css/style_login.css" />
    <link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">

</head>

<body>
    <div class="back_image"></div>
    <div class="w3ls-login box box--big">
        <h1 class="title-page">@Localizer["Registration"]</h1>
		<form asp-route-returnurl="@ViewData["ReturnUrl"]" asp-route-groupId="@ViewData["GroupId"]" method="post">
			<div class="agile-field-txt">
				<label asp-for="Email"></label>
				<input asp-for="Email" class="form-control" id="email" placeholder="@Localizer["Your e-mail adress"]" />
				@*<span asp-validation-for="Email" class="text-danger"></span>*@
			</div>
			<div class="agile-field-txt">
				<label asp-for="Phone"></label>
				<input asp-for="Phone" class="form-control" id="phone" placeholder="@Localizer["Your phone"]" />
				@*<span asp-validation-for="PhoneNumber" class="text-danger"></span>*@
			</div>
			<div class="w3ls-bot">
				<div class="switch-agileits">
					<label class="switch">
						<input type="checkbox" asp-for="CorporateUser" id="corporate" onclick="ShowCompany()">
						@Html.DisplayNameFor(m => m.CorporateUser)
						<span class="slider round"></span>
					</label>
				</div>
			</div>
			<div class="agile-field-txt" id="company">
				<label asp-for="CompanyName"></label>
				<input asp-for="CompanyName" class="form-control" placeholder="@Localizer["Your company"]" />
				@*<span asp-validation-for="PhoneNumber" class="text-danger"></span>*@
			</div>
			<div class="agile-field-txt">
				<label asp-for="Password"></label>
				<input asp-for="Password" id="confirm" class="form-control" placeholder="@Localizer["Enter your password"]" />
				@*<span asp-validation-for="Password" class="text-danger"></span>*@
			</div>
			<div class="agile-field-txt">
				<label asp-for="ConfirmPassword">Confirm password</label>
				<input asp-for="ConfirmPassword" id="pass" class="form-control" placeholder="@Localizer["Confirm password"]" />
				@*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
				<div asp-validation-summary="All" class="agile_label" style="color : red"></div>
			</div>
			<div class="agile-field-txt">
				<div class="agile_label">
					<input id="check3" name="check3" type="checkbox" value="@Localizer["show password"]" onclick="ShowPassword()">
					<label class="check" for="check3">@Localizer["Show password"]</label>
				</div>
			</div>
			<div class="agile-field-txt">
				<p>
					<input type="submit" value="@Localizer["REGISTER"]">
				</p>
			</div>
			<div class="agile-field-txt">
				<div class="agile_label">
					<a asp-action="NewLogin" asp-route-returnurl="@ViewData["ReturnUrl"]">LOGIN</a>
				</div>
			</div>
			<div class="agile-field-txt">
				<div class="agile_label">
					<a asp-controller="Home" asp-action="Index">BACK TO START PAGE</a>
				</div>
			</div>

		</form>
    </div>

</body>
</html>

<script>
    function ShowPassword() {
        var x = document.getElementById("pass");
        var c = document.getElementById("confirm");
        if (x.type === "password") {
            x.type = "text";
            c.type = "text";
        } else {
            x.type = "password";
            c.type = "password";
        }
    }

    document.getElementById("company").style.display = 'none';
    function ShowCompany() {
        var chboxs = document.getElementById("corporate");
        if (chboxs.checked) {
            document.getElementById("company").style.display = 'block';
        }
        if (!chboxs.checked) {
            document.getElementById("company").style.display = 'none';
        }
    }
</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
