@using Model.ViewModels.StopWordViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model StopWordViewModel

@{
    ViewData["Title"] = Localizer["Delete"];
}
<div class="container">
    <h2>@Localizer["Delete"]</h2>
    <h3>@Localizer["Are you sure you want to delete this?"]</h3>
<div>
    <h4>@Localizer["Stop Word"]</h4>
    <hr />
    <div class="col-md-4">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.Word)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Word)
            </dd>

        </dl>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" />
        <a class="btn btn-primary" asp-action="Index">@Localizer["Back to List"]</a>
    </form>

</div>
</div>
