@using Model.ViewModels.StepViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@model StepViewModel

@{
    var requestCulture = CultureInfo.CurrentCulture;
    var culture = requestCulture.TwoLetterISOLanguageName;
}
<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="~/js/OperatorTariffs.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link href="~/css/company.css" rel="stylesheet" />
    <link href="~/css/datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.js" integrity="sha256-dgFbqbQVzjkZPQxWd8PBtzGiRBhChc4I2wO/q/s+Xeo=" crossorigin="anonymous"></script>
    <script src="~/js/datetimepicker.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
        (function ($) {
        $(document).ready(function () {
            $('#StartTime').dateTimePicker({
                locale: "@culture",
                selectData: "now",
                positionShift: { top: 20, left: 0 },
                title: "@Localizer["Select Date and Time"]",
                buttonTitle: "@Localizer["Select"]"
            });
             $('#EndTime').dateTimePicker({
                locale: "@culture",
                selectData: "now",
                positionShift: { top: 20, left: 0 },
                title: "@Localizer["Select Date and Time"]",
                buttonTitle: "@Localizer["Select"]"
            });
            })
        })(jQuery);
    </script>
</head>
<body>
    <div class="container">
        <div class="stepwizard">
            <div class="stepwizard-row setup-panel">
                <div class="stepwizard-step">
                    <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                    <p>Description</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                    <p>Type</p>
                </div>
                <div class="stepwizard-step tariffStep">
                    <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                    <p>Tariff</p>
                </div>
                <div class="stepwizard-step recievestep">
                    <a href="#step-1-1" type="button" class="btn btn-default btn-circle" disabled="disabled">4</a>
                    <p>Recieve</p>
                </div>
                <div class="stepwizard-step">
                    <a href="#step-4" type="button" class="btn btn-default btn-circle" disabled="disabled">5</a>
                    <p>Step 4</p>
                </div>
            </div>
        </div>
        <form role="form">
            <div class="row setup-content" id="step-1">
                @using (Html.BeginForm("Create", "Company", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div>
                        @Html.ValidationSummary(true)
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label asp-for="CompanyModel.PhoneNumber" class="control-label"></label>
                                <input asp-for="CompanyModel.PhoneNumber" class="form-control" />
                                <span asp-validation-for="CompanyModel.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label asp-for="CompanyModel.Name" class="control-label"></label>
                                <input asp-for="CompanyModel.Name" required class="form-control" />
                                @Html.ValidationMessageFor(x => x.CompanyModel.Name)
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label asp-for="CompanyModel.Description" class="control-label"></label>
                                <textarea rows="3" style="resize:none" asp-for="CompanyModel.Description" class="form-control" required></textarea>
                                @Html.ValidationMessageFor(x => x.CompanyModel.Description)
                            </div>
                        </div>
                        <div class="row">

                        </div>
                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                    </div>
                }
            </div>

            <div class="card wizard-card" data-color="red" id="wizard">
                <div class="row setup-content" id="step-2">

                    <div class="tab-pane" id="captain">
                        <h4 class="info-text">What type of campaign would you want? </h4>
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="col-sm-4">
                                    <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="For sending SMS only">
                                        <input asp-for="CompanyModel.Type" type="radio" name="path" required value=0>
                                        <div class="icon">
                                            <i class="material-icons">speaker_phone</i>
                                        </div>
                                        <h6>Send</h6>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="For recieved SMS only">
                                        <input asp-for="CompanyModel.Type" type="radio" name="path" id="recieve" value=1>
                                        <div class="icon">
                                            <i class="material-icons">call_received</i>
                                        </div>
                                        <h6>Receive</h6>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="For Sending and Recieving SMS">
                                        <input asp-for="CompanyModel.Type" type="radio" name="path" value=2>
                                        <div class="icon">
                                            <i class="material-icons">import_export</i>
                                        </div>
                                        <h6>SendReceive</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="CompanyModel.Type" class="text-danger"></span>
                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                    <button id="submit_first">Next</button>
                </div>



            </div>

            <div class="row setup-content" id="step-1-1">
                @using (Html.BeginForm("Recieve", "Company", FormMethod.Post))
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="RecieveModel.StartTime" class="control-label"></label>
                        <div id="StartTime"> </div>
                        <input type="hidden" id="result" asp-for="RecieveModel.StartTime">
                        <span asp-validation-for="RecieveModel.StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="RecieveModel.Id" />
                        <label asp-for="RecieveModel.EndTime" class="control-label"></label>
                        <div id="EndTime"> </div>
                        <input type="hidden" id="result" asp-for="RecieveModel.EndTime">
                        <span asp-validation-for="RecieveModel.EndTime" class="text-danger"></span>
                    </div>
                  
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <button class="btn btn-success btn-lg pull-right" type="submit" onclick="RecieveCampaign(item);">Finish!</button>
                        </div>
                    </div>
                }

            </div>

            <div class="row setup-content" id="step-3">
                <h3> Choose Tariff</h3>
                <div class="container">
                    <div style="float:left;">
                        <table class="table table-striped table-bordered" style="display: inline-block;">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="col-md-4">
                                        @Html.DisplayNameFor(model => model.OperatorModel.OperatorsList)
                                    </th>
                                    <th class="col-md-4"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OperatorModel.OperatorsList)
                                {
                                    <tr>
                                        <td class="col-md-5">
                                            @item.Name
                                        </td>
                                        <td class="col-md-5">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" value="@item.Id" name="1radio" onchange="GetTariff(this)" />
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>




                    <div style="float:left;">
                        <table class="table table-striped table-bordered" id="tariffTable" style="display:inline-block">
                            <thead class="thead-dark">
                                <tr>
                                    <td><label asp-for="TariffModels.Name"></label></td>
                                    <td><label asp-for="TariffModels.Description"></label></td>
                                    <td><label asp-for="TariffModels.Price"> </label></td>
                                    <td><label asp-for="TariffModels.Limit"> </label></td>
                                    <td> </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
            </div>
            <div class="row setup-content" id="step-4">

                <div class="col-xs-12">
                    <div class="col-md-12">
                        <h3> Step 4</h3>
                        <button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {


            $('[rel="tooltip"]').tooltip();
            var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn'),
                nextStepWizard,
                curStepBtn;

            allWells.hide();

            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                    $item = $(this);

                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-primary').addClass('btn-default');
                    $item.addClass('btn-primary');
                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });

            allNextBtn.click(function () {


                curStep = $(this).closest(".setup-content");
                curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url'],textarea, input[type='radio']"),
                    isValid = true,


                    $(".form-group").removeClass("has-error");
                for (var i = 0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid) {
                        isValid = false;
                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                    }
                }


                if (isValid)
                    nextStepWizard.removeAttr('disabled').trigger('click');
            });

            $('div.setup-panel div a.btn-primary').trigger('click');

            $('[data-toggle="wizard-radio"]').click(function () {
                wizard = $(this).closest('.wizard-card');
                wizard.find('[data-toggle="wizard-radio"]').removeClass('active');
                $(this).addClass('active');
                $(wizard).find('[type="radio"]').removeAttr('checked');
                $(this).find('[type="radio"][name="path"]').prop('checked', true);

            });
            //step1
            $('#submit_first').click(function () {

                var value = parseInt($("input[name='path']:checked").val());

                switch (value) {
                    case 0:
                        $(".recievestep").remove();
                        break;
                    case 1:
                        $(".tariffStep").remove();
                        break;
                    case 2:
                        $(".recievestep").remove();
                        break;

                    default:

                }
            });
        });

        var Campaign = {
            id: 48011,
            Name: "",
            Description: "",
            Type: "",
            StartTime: "",
            EndTime: ""

        }
        function RecieveCampaign(item) {
            $.ajax({
                url: '/Company/Recieve/',
                type: 'POST',
                data: {
                    campaign: this.Campaign,
                },
                success: function () {
                    window.location.href = "http://localhost:55555/Step/Index";
                }

            });
        }


    </script>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}