@using Model.ViewModels.CompanyViewModels;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model CompanyViewModel
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["Compaigns"]</title>
</head>
<body>
    <h2>@Localizer["Create"]</h2>
    <h4>@Localizer["Compaign"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea rows="3" style="resize:none" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <label asp-for="Type" class="col-sm-6 col-form-label">@Localizer["Select campaign type"]</label>
                    <div class="col-sm-10">
                        <div class="mt-2">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" asp-for="Type" type="radio" name="path" value=0 />
                                <label class="form-check-label" for="Type">@Localizer["Send"]</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" asp-for="Type" type="radio" name="path" value=1 />
                                <label class="form-check-label" for="Type">@Localizer["Recieve"]</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" asp-for="Type" type="radio" name="path" value=2 />
                                <label class="form-check-label" for="Type">@Localizer["Send and Recieve"]</label>
                            </div>
                        </div>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <input type="submit" value="@Localizer["Next"]" class="btn btn-success" />
                    </div>
                    <div class="col-md-3">
                        <a class="btn btn-primary" asp-action="Index">@Localizer["Back to List"]</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
